@import url(../../index.css);

.food-item{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000015;
    transition: 0.3s;
    animation: fadeIn 1s;
    cursor: pointer;
}

.food-item:hover{
    transform: scale(1.05);
}

.food-item-image{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.food-item-info{
    padding: 1rem 1.2rem;
}

.food-item-name p{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    color: var(--black);
}

.food-item-description{
    height: 4vw;
    color: var(--black-light);
    font-size: 12px;
}

.food-item-price{
    display: flex;
    justify-content: end;
    align-items: baseline;
    gap: .5em;
    margin-top: 1em;
}

.food-item-price-text{
    color: var(--pink);
    font-size: 14px;
}

.food-item-price-number{
    color: var(--pink);
    font-size: 22px;
    font-weight: 500;
}

.food-item-img-container{
    position: relative;
}

.food-item-img-container .add{
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
}

.food-item-counter{
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.800);
}

.food-item-counter img{
    width: 25px;
}