@import '../../index.css';

.cart{
    margin-top: 100px;
}

.cart-items-title{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 0.5fr;
    align-items: center;
    color: var(--gray-dark);
    font-size: max(1vw,12px);
}

.cart-items-item{
    margin: 10px 0px;
    color: var(--black);
}

.cart-items-item img{
    width: 50px;
}

.cart hr{
    height: 1px;
    background-color: var(--gray-light);
    border: none;
}

.cart-items-item .cross{
    cursor: pointer;
}

.cart-bottom{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-total{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    background-color: #fce4ec;
    padding: 30px;
    border-radius: 15px;
}

.cart-total-left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart-total h2{
    color: var(--black);
    font-weight: 500;
    margin: 0;
}

.cart-total-info{
    color: var(--black-light);
    font-size: 14px;
    margin: 0;
}

.cart-total-details{
    display: flex;
    justify-content: space-between;
    color: var(--black-light);
}

.cart-total button{
    border: none;
    color: rgb(0, 0, 0);
    background-color: #cbd75d;
    padding: 12px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s;
    white-space: nowrap;
}

.cart-total button:hover{
    background-color: #b8c44a;
    transform: scale(1.02);
}

@media (max-width: 750px){
    .cart-items-title{
        grid-template-columns: 1fr 2fr 1fr 1fr 1fr 0.5fr;
        font-size: 12px;
    }
    
    .cart-items-item img{
        width: 40px;
    }
    
    .cart-bottom{
        flex-direction: column;
    }
    
    .cart-total{
        max-width: 100%;
    }
}