@import '../../index.css';

.cart-empty-message {
    text-align: center;
    margin: 2rem 0;
    color: var(--gray-dark);
}

.cart-cake-details {
    font-size: 0.9em;
    color: var(--gray-dark);
}

.cart-total {
    text-align: right;
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.cart{
    margin-top: 100px;
}

.cart-items-title{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: var(--gray-dark);
    font-size: max(1vw,12px);
}

.cart-items-item{
    margin: 10px 0px;
    color: var(--black);
}

.cart-items-item img{
    width: 50px;
}

.cart hr{
    height: 1px;
    background-color: var(--gray-light);
    border: none;
}

.cart-items-item .cross{
    cursor: pointer;
}