.select-filling {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .right-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .right-content h1, .left-content h2 {
    margin: 0;
  }
  
  .right-content ul {
    list-style-type: none;
    padding: 0;
  }
  
  .right-content li {
    margin: 10px 0;
    cursor: pointer;
    font-size: 18px;
    color: #007bff;
  }
  
  .right-content li:hover {
    text-decoration: underline;
  }
  