@import "../../index.css";

.cake-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.cake-popup-content {
  position: relative;
  background: white;
  border-radius: 10px;
  padding: 20px;
  padding-top: 40px;
  width: 90%;
  max-width: 1000vh;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease-in-out;
}

.select-cake-base {
  width: 100%;
}

.cake-content {
  padding: .5rem 1rem;
  animation: fadeIn 3s;
}

.cake-options,
.cake-options-filling {
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 2rem;
  height: 25vw;
}

.cake-options-filling {
  justify-content: space-around;
  gap: 1vw;
}

.cake-options-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vw 0;
  margin-top: .5rem;
  border-radius: 1rem;
  min-width: 20%;
}

.cake-section-options ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .5rem;
  list-style: none;
  padding: 0;
  margin-top: 0.5rem;
}

.cake-section-options li {
  margin: 0;
}

.cake-options-column:nth-child(1) {
  background-color: var(--pink-transparent);
}

.cake-select-filling .cake-options-column:nth-child(1) {
  background-color: var(--pink-transparent);
  width: 30%;
}

.cake-options-column:nth-child(1):hover{
  background-color: var(--pink-light);
}

.cake-options-column:nth-child(2) {
  background-color: var(--green-transparent);
}

.cake-options-column:nth-child(2):hover {
  background-color: var(--green);
}

.cake-options-column:nth-child(3) {
  background-color: var(--blue-transparent);
}

.cake-options-column:nth-child(3):hover {
  background-color: var(--blue);
}

.cake-options-column:nth-child(4) {
  background-color: var(--yellow-transparent);
}

.cake-options-column:nth-child(4):hover {
  background-color: var(--yellow);
}

.cake-bottom {
  display: flex;
  justify-content: right;
  margin-top: .5vw;
}

.cake-title,
.cake-subtitle {
  font-size: 2em;
  font-weight: 600;
  color: var(--pink);
  margin-left: 2vw;
}

.cake-section-title {
  color: var(--black-light);
  font-size: 1.5rem;
  margin-left: .35em;
}

.cake-option {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  background: var(--black-light-transparent);
  border: 1px solid var(--black-light);
  font-size: 15px;
  color: var(--black-light);
  padding: 10px 0;
  margin: .5rem 0;
  border-radius: 50px;
  cursor: pointer;
  width: 10rem;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: center;
}

.cake-option:hover {
  transition-duration: 0.3s;
  transform: scale(1.05);
}

.cake-option.selected {
  background-color: var(--black);
  border: 1px solid var(--black);
  color: white;
  font-weight: 500;
}

.cake-next,
.cake-prev {
  border: none;
  color: white;
  font-weight: 500;
  font-size: max(1vw, 13px);
  padding: .5vw 1.5vw;
  background-color: var(--black);
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
  margin: 8px;
}

.cake-prev {
  background-color: var(--gray);
}

.cake-next:hover {
  background-color: var(--green);
  color: var(--black);
}

.cake-prev:hover {
  background-color: var(--gray-dark);
}

.cake-order-summary {
  padding: 20px;
  border-radius: 1rem;
  margin: 1rem 0;
  animation: fadeIn 3s;
}

.cake-order-summary .section-title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 1rem;
}

.cake-order-summary p {
  font-size: 1.2rem;
  color: var(--black-light);
  margin: 0.5rem 1rem;
  text-align: left;
}

.cake-order-summary p strong {
  color: var(--green-dark);
}

.cake-name-emphasis {
  color: var(--pink-dark);
  font-weight: 600;
}

.cake-order-summary .bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.cake-order-summary .prev,
.cake-order-summary .next {
  border: none;
  color: white;
  font-weight: 500;
  font-size: max(1vw, 13px);
  padding: 0.5vw 1.5vw;
  background-color: var(--black);
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
  margin: 8px;
}

.cake-order-summary .prev {
  color: var(--black);
  background-color: var(--gray-light);
}

.cake-order-summary .next:hover {
  background-color: var(--green);
  color: var(--black);
}

.cake-order-summary .prev:hover {
  background-color: var(--black-light);
  color: white;
}