.units-section {
  margin: 1.5rem 0;
}

.units-label {
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1rem;
}

.units-options {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.75rem;
  margin-bottom: 1.5rem;
}

.unit-option-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

.unit-option {
  padding: 0.75rem;
  background-color: var(--gray-light);
  border: 2px solid transparent;
  border-radius: 2rem !important;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--black);
  width: 100%;
}

.unit-option:hover {
  background-color: var(--pink);
  transform: translateY(-2px);
}

.unit-option.selected {
  background-color: var(--pink-light);
  color: var(--black);
  font-weight: 600;
}

.price-summary {
  text-align: left;
  padding: 1rem;
  margin-left: 30%;
  width: 40%;
}

.price-summary p {
  margin: 0;
  color: white;
  font-size: .85rem;
  font-weight: 600;
}

.notes-section {
  margin: 1rem 0;
}

.notes-label {
  font-weight: 500;
  margin-bottom: 8px;
  text-align: left;
  margin-left: 1.2rem;
}

.notes-textarea {
  width: 90%;
  min-height: 40px;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 6px;
  resize: vertical;
  font-size: 1rem;
}

.title-name-emphasis {
  color: var(--pink-dark);
  font-size: 1.5rem;
  font-weight: 600;
}

.bottom-add-cart {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.next-add-cart {
  border: none;
  color: var(--black);
  font-weight: 500;
  font-size: max(1vw, 13px);
  padding: .5vw 1.5vw;
  background-color: var(--green);
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
  margin: 8px;
}

.next-add-cart:disabled {
  background-color: var(--gray-light);
  color: var(--gray);
  cursor: not-allowed;
}
