@import '../../index.css';

.menu-page {
  margin-top: 100px;
  padding: 0 2rem;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.menu h1 {
  font-size: 2.5rem;
  color: var(--black-light);
  font-weight: 500;
}

.menu-text {
  max-width: 60%;
  color: var(--black-light);
}

.menu-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  gap: 30px;
  margin: 20px 0px;
  padding: 5px;
  overflow-x: auto;
}

.menu-list::-webkit-scrollbar {
  display: none;
}

.menu-list-item img {
  width: 7.5vw;
  min-width: 80px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.2s;
}

.menu-list-item img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgb(197, 255, 37);
}

.menu-list-item p {
  margin-top: 10px;
  color: var(--black-light);
  text-transform: uppercase;
  font-size: max(0.8vw, 12px);
  font-weight: 600;
  cursor: pointer;
}

.menu hr {
  margin: 10px 0px;
  height: 2px;
  background-color: #e2e2e2;
  border: none;
}

.menu-list-item .active {
  border: 4px solid #cbd75d;
  padding: 2px;
}

@media (max-width: 1050px) {
  .menu-text {
    max-width: 100%;
    font-size: 14px;
  }

  .menu-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}
