@import url(../../index.css);

.footer {
    color: white;
    background-color: var(--pink-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px 10vw;
    padding-top: 50px;
    margin-top: 1rem;
}

.footer-logo {
    width: 120px;
}

.footer-content {
    width: 100%;
    display: flex;
    gap: 150px;
    margin-top: 1rem;
}

.footer-content-left,
.footer-content-center,
.footer-content-right {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-content-center {
    width: 40%;
    justify-content: flex-start;
}

.footer-content-center p {
    font-size: 1rem;
}

.footer-content-right li {
    list-style-type: none;
    margin-bottom: 10px;
    cursor: pointer;
    width: 10rem;
}

.footer-social-icons {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: .5rem;
    height: auto;
}

.footer-social-icons img {
    width: 40px;
}

.footer hr {
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
}

@media (max-width: 1050px) {
    .footer-logo {
        width: 80px;
    }

    .footer-content {
        gap: 60px;
    }

    .footer-content-center {
        gap: 1rem;
    }


    .footer-content-right {
        margin-top: 0;
    }

    .footer-social-icons {
        flex-direction: row;
        justify-content: left;
        gap: .5rem;
    }

    .footer-social-icons img {
        margin-right: 0;
    }
}

@media (max-width: 750px) {
    .footer-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        width: 100%;
    }

    .footer-logo {
        width: 40%;
    }

    .footer-content-left {
        grid-column: 1;
        grid-row: 1;
        align-items: cent;
        padding-right: 1rem;
    }

    .footer-content-center {
        grid-column: 1;
        grid-row: 2;
        width: 12rem;
        justify-content: flex-start;
        align-items: flex-start;
        gap: .5rem;
    }

    .footer-content-center p {
        font-size: 0.8rem;
        margin: 0;
    }

    .footer-content-right {
        grid-column: 2;
        grid-row: 1 / 3;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .footer-content-right ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-left: 0;
        margin-left: 2rem;
    }

    .footer-content-right li {
        margin-bottom: 0;
    }

    .footer-social-icons img {
        width: 25px;
    }

    .footer-copyright {
        text-align: center;
    }
}