@import url(../../index.css);

.footer{
    color: white;
    background-color: var(--pink-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px 10vw;
    padding-top: 50px;
    margin-top: 100px;
}

.footer-logo{
    width: 200px;
}

.footer-content{
    width: 100%;
    display: flex;
    gap: 150px;
}

.footer-content-left,.footer-content-center,.footer-content-right{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-content-center{
    width: 40%;
    justify-content: center;
}

.footer-content-right{
    margin-top: 1.5vw;
}

.footer-content-right li{
    list-style-type: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.footer-content-right li a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.footer-content-right li a:hover{
    color: #cbd75d;
}

.footer-social-icons img{
    width: 40px;
    margin-right: 15px;
}

.footer hr{
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
}

@media (max-width: 750px){
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    .footer-logo{
        width: 50%;
    }

    .footer-content-left{
        align-items: center;
    }

    .footer-content-center{
        width: 100%;
        justify-content: center;
    }

    .footer-copyright{
        text-align: center;
    }
}