.header{
    height: 34vw;
    margin: 30px auto;
    background: url('../../assets/header_img.png') no-repeat;
    background-size: contain;
    position: relative;
}

.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 45%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.header-contents h2{
    font-weight: 500;
    color: #ffffff;
    font-size: max(4vw,20px);
}

.header-contents p{
    font-size: 1vw;
    color: white;
    max-width: 80%;
}

.header-contents button{
    border: none;
    color: #41403c;
    font-weight: 500;
    font-size: max(1vw, 13px) ;
    padding: 1vw 2.3vw;
    background-color: white;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.header-contents button:hover{
    background-color: var(--green);
    color: white;
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(238, 127, 155, 0.4);
}

@media (max-width:1050px){
    .header-contents{
        max-width: 45%;
    }
}

@media (max-width:750px){
    .header-contents{
        max-width: 65%;
    }

    .header-contents p{
        display: none;
    }

    .header-contents button{
        padding: 2vw 4vw;
    }
}