.header{
    height: 34vw;
    margin: 30px auto;
    background: url('../../assets/header_img.png') no-repeat;
    background-size: contain;
    position: relative;
}

.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5rem;
    max-width: 45%;
    bottom: 15%;
    left: 6vw;
    animation: fadeIn 3s;
}

.header-contents h2{
    font-weight: 500;
    color: #ffffff;
    font-size: max(4vw,20px);
    line-height: 3.5rem;
}

.header-contents p{
    font-size: 1vw;
    color: white;
    max-width: 80%;
}

.header-contents button{
    border: none;
    color: #41403c;
    font-weight: 500;
    font-size: max(1vw, 13px) ;
    padding: 1vw 2.3vw;
    background-color: white;
    border-radius: 50px;
}

.header-contents button:hover{
    cursor: pointer;
    background-color: var(--green-transparent);
    color: black;
    transition: 0.3s;
    transform: scale(1.1);
}

@media (max-width:1050px){
    .header{
        height: 60vw;
    }

    .header-contents{
        max-width: 80%;
    }

    .header-contents h2 {
        font-size: 3rem;
        line-height: 3rem;
    }

    .header-contents p{
        font-size: 1rem;
    }
}

@media (max-width:750px){
    .header{
        height: 70vw;
        padding-top: 3rem;
    }

    .header h2 {
        font-size: 2rem;
        line-height: 2rem;
    }

    .header-contents{
        gap: 1rem;
        max-width: 85%;
    }

    .header-contents p{
        font-size: 0.9rem;
        max-width: 100%;
    }

    .header-contents button{
        padding: 2vw 4vw;
    }
}