.notes-section {
  margin: 1rem 0;
}

.notes-label {
  font-weight: 500;
  margin-bottom: 8px;
  text-align: left;
  margin-left: 1.2rem;
}

.notes-textarea {
  width: 90%;
  min-height: 40px;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 6px;
  resize: vertical;
  font-size: 1rem;
}

.title-name-emphasis {
  color: var(--pink-dark);
  font-size: 1.5rem;
  font-weight: 600;
}

.simple-item-qty-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1.5rem 0 0.5rem 0;
}

.qty-btn {
  background: var(--gray);
  color: white;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}

.qty-btn:nth-child(3) {
  background: var(--green);
}

.qty-btn:hover {
  transform: scale(1.1);
}

.qty-input {
  width: 3rem;
  text-align: center;
  font-size: 1.1rem;
  border: 1px solid var(--gray-light);
  border-radius: 8px;
  padding: 4px 0;
}

.bottom-add-cart {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.next-add-cart {
  border: none;
  color: var(--black);
  font-weight: 500;
  font-size: max(1vw, 13px);
  padding: .5vw 1.5vw;
  background-color: var(--green);
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
  margin: 8px;
}

.next-add-cart:disabled {
  background-color: var(--gray-light);
  color: var(--gray);
  cursor: not-allowed;
}