.food-display{
    margin-top: 30px;
}

.food-display h1{
    font-size: 2rem;
    font-weight: 500;
    color: var(--black-light);
}

.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}

@media (max-width: 1050px) {
    .food-display-list{
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 20px;
        row-gap: 40px;
    }
}

@media (max-width:600px) {
    .food-display-list{
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
        row-gap: 12px;
    }
}