.food-display{
    margin-top: 30px;
}

.food-display h1{
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--black-light);
}

.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}