@import url(../../index.css);


.about-page {
    width: 100%;
    animation: fadeIn 1s;
}


.left-align {
    text-align: left !important;
}

.about-section {
    padding-top: 3rem;
}

.about-content {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.about-content h2 {
    font-size: max(2.5vw, 24px);
    color: var(--black);
    margin-bottom: 20px;
    line-height: 1;
}

.about-content h2 strong {
    color: var(--pink);
}

.about-content-text p {
    font-size: max(1vw, 16px);
    line-height: 1.5;
    color: var(--black-light);
    text-align: justify;
    width: 85%;
}

.about-content-img img{
    width: 400px;
    height: auto;
    border-radius: 10px;
    margin-top: 1rem;
}

.contato-section {
    padding: 60px 0;
    margin-top: 50px;
}

.contato-content {
    max-width: 1000px;
    margin: 0;
}

.contato-content h2 {
    font-size: max(2.5vw, 22px);
    font-weight: 600;
    color: var(--black);
    margin-bottom: 30px;
}

.contato-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.info-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info-text p {
    font-size: max(1vw, 16px);
    color: var(--black-light);
    line-height: 1.6;
    text-align: left;
}

.info-text strong {
    color: var(--pink);
    font-weight: 600;
}

.info-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.1rem;
    margin-top: 20px;
}

.info-card {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    background-color: var(--pink-transparent);
    padding: 1.5rem;
    width: 20rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.info-card:nth-child(1) {
    background-color: var(--green-transparent);
}

.info-card:nth-child(3) {
    background-color: var(--blue-transparent);
}

.info-card img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.icon-svg {
    width: 50px;
    height: 50px;
    fill: var(--black);
    flex-shrink: 0;
}

.info-card p {
    margin: 0;
    font-size: 16px;
    color: var(--black);
}

.info-card strong {
    color: var(--black);
}

.info-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

@media (max-width: 1050px) {
    .about-header-contents {
        padding: 0 20px;
    }
    .about-content,
    .contato-content {
        padding: 0 20px;
    }
}

@media (max-width: 750px) {
    .about-header {
        padding: 40px 20px;
        margin: 20px auto;
    }
    .about-header-contents h2 {
        font-size: 24px;
    }
    .about-header-contents p {
        font-size: 14px;
    }
    .about-section,
    .contato-section {
        padding: 40px 0 0 0;
        margin: 30px auto;
    }
    .about-content h1,
    .contato-content h1 {
        font-size: 28px;
    }
    .about-content p,
    .info-text p {
        font-size: 14px;
    }
    .mapa {
        height: 300px;
    }
}